<div class="card mt-3 border-white" style="width: 20rem;" >
<p class= "py-auto text-center">Uygulamayı indir.</p>
</div>
<div class="card border-white" style="width: 20rem;">
<div class="ms-5">
<a href="https://l.instagram.com/?u=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.instagram.android%26referrer%3Dig_mid%253DC2DA7343-1DFD-47E2-9132-9E2A6A41B0CA%2526utm_campaign%253DloginPage%2526utm_content%253Dlo%2526utm_source%253Dinstagramweb%2526utm_medium%253Dbadge&e=AT3RI1IJoCC4GuwIRAYfYJzoYc1UrS9oDAkgUdnNb8HwrMvD1gmJVKP-Ef2zSSi-y1GcFto0thCo1AQnnIdtCMYgQy2KEU4L8MscBZ7_rsoD3xDKZE-Ei98ssnWyOiRBlNtoYvsje9Mi_W2lnuzGkQ" target="_blank"><img width="120px" src="https://static.cdninstagram.com/rsrc.php/v3/yp/r/XUCupIzGmzB.png" alt="" ></a>
<a class="ms-2" href="ms-windows-store://pdp/?productid=9nblggh5l9xt&referrer=appbadge&source=www.instagram.com&mode=mini&pos=0%2C0%2C1920%2C1008" target="_blank"><img width="95px" src="https://static.cdninstagram.com/rsrc.php/v3/yf/r/BFthdeAc5KC.png" alt=""></a>
</div>
</div>